@{
    var requestedPath = Context.Request.Path;
}

<!-- Page Sidebar -->
<div class="page-sidebar" id="sidebar">

    <!-- Sidebar Menu -->
    <ul class="nav sidebar-menu">
        <!--Dashboard-->
        <li class="@(requestedPath == "/" ? "active" : "")">
            <a asp-controller="Home" asp-action="Dashboard">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> داشبورد </span>
            </a>
        </li>

        <li class="@(requestedPath == "/Users" ? "active" : "")">
            <a asp-controller="User" asp-action="Users">
                <i class="menu-icon glyphicon glyphicon-user"></i>
                <span class="menu-text">کاربران</span>
            </a>
        </li>

        <li class="@(requestedPath == "/CafeProducts" || requestedPath == "/BookCategories" || requestedPath == "/Authors" || requestedPath == "/Publishers" ? "active open" : "")">
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-book"></i>
                <span class="menu-text"> مدیریت کتاب ها </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li class="@(requestedPath == "/Books" ? "active" : "")">
                    <a asp-controller="Book" asp-action="Books">
                        <span class="menu-text">کتاب ها</span>
                    </a>
                </li>
                <li class="@(requestedPath == "/BookCategories" ? "active" : "")">
                    <a asp-controller="BookCategory" asp-action="BookCategories">
                        <span class="menu-text">دسته بندی ها</span>
                    </a>
                </li>
                <li class="@(requestedPath == "/Authors" ? "active" : "")">
                    <a asp-controller="Author" asp-action="Authors">
                        <span class="menu-text">نویسندگان</span>
                    </a>
                </li>
                <li class="@(requestedPath == "/Publishers" ? "active" : "")">
                    <a asp-controller="Publisher" asp-action="Publishers">
                        <span class="menu-text">ناشرها</span>
                    </a>
                </li>
            </ul>

        </li>

    </ul>
    <!-- /Sidebar Menu -->
</div>
<!-- /Page Sidebar -->